

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
/*	background-color: #999999;*/
}

#posts h2 {
	color: #3879DB;
}

#posts .date {
	font-style: italic;
	color: #999999;
}

















