---
layout: default
title: 30days.io
description: keeping track of my 30-day commitments
---

<div class="jumbotron">
	<div class="container">
		<h2>{{ page.title }}</h2>
        <p>{{ page.description }}<p>
	</div>
</div>

<div class="container">
	<div class="row" id="posts">
		{% for post in site.posts %}
			<div class="col">
                <div class="container">
                    <h2>{{ post.title }}</h2>
                    <p class="date">{{ post.date | date: "%B %e, %Y" }}</p>
                    <p>{{ post.content }}</p>
                </div>
			</div>

			{% if forloop.index != forloop.length %}
				<hr />
			{% endif %}

		{% endfor %}
	</div>
</div>

{% include js_imports.html %}
